#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

# Build tree
/build-*

# quilt's files
patches
series

# gdb files
.gdb_history

# cscope files
cscope.*

# tags files
/tags
/ctags
/etags

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

*.hex
Project/*.uvguix.*
Project/Listings/Template.map
Project/Objects/SmartLock_Target 1.dep
Project/Objects/Template.axf
Project/Objects/Template.build_log.htm
Project/Objects/Template.hex
Project/Objects/Template.htm
Project/Objects/Template.lnp
Project/Objects/Template.sct
Project/Objects/main.crf
Project/Objects/main.d
Project/Objects/startup_stm32f030.d
Project/Objects/stm32f0xx_it.crf
Project/Objects/stm32f0xx_it.d
Project/Objects/system_stm32f0xx.crf
Project/Objects/system_stm32f0xx.d
Project/Listings/startup_stm32f030.lst
Project/Objects/main.o
Project/Objects/startup_stm32f030.o
Project/Objects/stm32f0xx_it.o
Project/Objects/system_stm32f0xx.o


